
.nav__link{
  font-size: 20px; 
  position:relative;
  transition: all 0.2s;
  color: #d7705f;
  font-weight: bold;
  font-weight:'bold';
  text-decoration:none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav__link:hover{
 color: #d7705f;
 font-weight: bold;
}
.iconmenu{
  font-size: 30px;
 } 
 .listemicon{
 font-size: 30px;
 }
 .container{
  background:#d53b47;
  height: 55px;
}
